@charset "utf-8";
#carousel1 {
}
.container-fluid .row_gioithieu p {
    color: #fff4e7;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow:  0px;font-size: 24px;
    background-color: #9d394b;
	margin-left: 15px;
}
.col-md-4.col-lg-12 .thumbnail .caption  {
    color: #9d394b;
    text-align: center;
}
.col-md-4.col-lg-12 .thumbnail .caption p  {
    color: #0D0C0C;
    text-align: center;
}
.caption p .btn.btn-primary {
	background-color: #9d394b;
	color: #fff4e7;
	
}
.row .col-lg-3 p {
    text-align: center;
    font-family: "Times New Roman";
    font-size: 24px;
	padding-top: 35px;
}
.container-fluid .row .col-lg-3 img {
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.container .header1 {
    color: burlywood;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	margin: 20px;
}
.btn{

    text-align: center;
	background-color: #9d394b;
	color: #fff4e7;
}

.tieude .col-lg-6 {
	color: burlywood;
    text-align: center;
    text-shadow:  0px;
	font-weight: bold;
    font-size: 25px;
	
}

.col-lg-6 #vi1{
	margin-left: 120px;
	margin-right: 120px;
	
}

.col-lg-6 #vi2{
	margin-left: 120px;
	margin-right: 120px;
}

.card-title {
	font-family: 'Charmonman', cursive;
	font-weight: bolder;
	font-size: 25px;
}


.container .row.text-center .col-md-4.pb-1.pb-md-0 {
	background-color: white;
	border: 1px solid black;
}
